body {
    background: none;
    background-color: #f3f4f7;
}
#lsform{
position: fixed;
    top: 20px;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: none;
}
.hdc.cl{
        height: 0px;
    min-height: 0px;
}

.wp .hdc>h2{
    display: none;
}

#toptb{
    display: none;
}

.comiis_nav ul{
    display: none;
    
}

#nv_ph{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 1px 6px #0000001c;
}
#nv {
    background: none;
    border: none;
}

#nv li.a {
    background: none;
    font-size: 16px;
}

#nv li.a a, #nv li.a a:hover{
     background: none;
}

#nv li {
    background-image:none;
}

#nv li {
    background-image: none!important;
}

#nv li a {
    color: #0e151c!important;
    font-weight: normal!important;
}

a#qmenu {
    display: none;
}

#nv li a:hover {
    background: none;
    text-decoration: none;
    color: #a5a5a5!important;
}

#nv li.hover a:hover, #nv li.hover a {
    background: none;
}
.p_pop{
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px #00000026;
}


.p_pop a {
    display: block;
    padding: 10px 20px;
    border-bottom: none;
    white-space: nowrap;
    color: #535353!important;
    border-radius: 10px;
}

.p_pop a:hover {
    background-color: #d6efff;
}

div#scbar {
    position: fixed;
    top: 10px;
    left: 600px;
    background: none;
    border: none;
        z-index: 6;
}

.scbar_icon_td {
    display: none;
}
.scbar_txt_td, .scbar_type_td {
    background: none;
}

#scbar_txt {
    width: 400px;
    border: 1px solid #FFF;
    outline: none;
    background-color: #eaeaea;
    padding: 8px;
    border-radius: 15px;
    padding-left: 18px;
}

td.scbar_type_td {
    position: absolute;
    left: 332px;
    border: 1px solid #ddd;
    padding: 0px;
    height: 27px;
    margin: 0px;
    display: none;
}

td.scbar_btn_td {
    position: absolute;
    left: 384px;
    height: 37px;
    display: none;
}

#scbar_hot {
    padding-left: 8px;
    height: 45px;
    overflow: hidden;
}

#scbar_hot .xw1{
    display: none; 
}

a.xi2 {
    color: #b0afaf;
}

#scbar_hot {
    padding-left: 8px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: 15px;
}

.comiis_nav {
    background: none;
    border: none;
}

.comiis_nav ul {
    background: none;
}

div#wp {
    width: 1200px;
}

div#pt {
    background: none;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin: 0px;
    padding-bottom: 42px;
}
#pt .z {
    padding-right: 10px;
    display: none;
}
.y {
    float: none;
}

#an li {
    text-align: left;
}
#an li{
     float: none;
    margin-left: 10px;
    width: 100%;
}
#an li span {
    float: none;
    margin-left: 10px;
    width: 100%;
}

#an li font {
    color: #5f5c5c!important;
   font-weight: normal;
}

#chart {
    margin-bottom: 5px;
    position: relative;
    top: -43px;
    left: 16px;
    border-top: 1px solid #efefef!important;
    width: 97%;
    padding-top: 10px;
}

div#pt {
    background: none;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin: 0px;
    padding-bottom: 42px;
}

div#nv {
    width: 100%;
}
div#nv img{
    display: none;
    
}

.bm_h.cl {
    display: none;
}

#category_ tr.fl_row {
    display: flex;
    flex-direction: column;
}



#category_ .fl_row td {
    width: 1200px;
}

.toplist_7ree .toptitle_7ree {
    display: none;
}

#category_ .fl_row td:nth-child(1), #category_ .fl_row td:nth-child(2) {
    width: 755px;
    background-color: #ffffff;
    border-radius: 10px;
    border-right: none!important;
}

#category_ .fl_row td:nth-child(1) .threadline_7ree, #category_ .fl_row td:nth-child(2) .threadline_7ree {
    font-size: 14px;
    border-bottom: 1px solid #f7f7f7!important;
    padding: 10px 0px;
}
#category_ .fl_row td:nth-child(3),#category_ .fl_row td:nth-child(4) {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #ffffff;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    border-right: none!important;
}
#category_ .fl_row td:nth-child(4){
    top: 420px;
}

.fl {
    border: 1px solid #CDCDCD;
    border-top: none;
    background: transparent;
}

.bm {
    border: 1px solid #CDCDCD;
    background: transparent;
}

#category_ .fl_row td:nth-child(3) .threadline_7ree,#category_ .fl_row td:nth-child(4) .threadline_7ree {
    padding: 6px 0px;
    border: none!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: none!important;
}
.boxbg_7ree {
    background: none;
    padding: 0px;
    padding: 20px;
}

div#category_ {
    position: relative;
}

.fl_row td {
    border-top: 1px dashed #CDCDCD;
    border: none;
}

#category_ .fl_row td:nth-child(2) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 0px!important;
    position: relative;
    top: -24px;
}
#category_ .fl_row td:nth-child(2) .boxbg_7ree {
    padding-top:0px
}
.bm {
    border: 1px solid #CDCDCD;
    background: transparent;
    border: none;
}

.toplist_7ree a {
    text-decoration: none;
    color: #0e151c!important;
    font-weight: normal!important;
}
#category_ .fl_row td:nth-child(5){
        display: none;
}

#nv a[style="float: right;display: inline;margin-top: 5px;margin-left: 3px;margin-right: 3px;"]{
    display: none;
}
td.fl_i {
    display: none;
}
td.fl_by {
    display: none;
}

p.xg2 {
    display: none;
}

.bm_c table tbody{
        display: flex;
    flex-wrap: wrap;
        justify-content: space-between;
}
.bm_c {
    padding: 10px;
    padding: 0px;
}
.bm_c table tbody tr {
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
}
.bm_c table tbody td p{
    display: none;
}
.bm_c table tbody td a {
    font-weight: normal;
    color: #0e151c!important;
    text-decoration: none;
}
.bm_c table tbody td  em{
    color: #0e151c!important;
}
.fl .bm_c, #online .bm_c, .lk .bm_c {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom:20px;
    padding: 15px;
}

.bm_c table tbody tr {
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
     cursor: pointer;
    padding: 10px;
}
.bm_c table tbody tr:hover{
       background-color: #edf8ff;
}

#category_35 tbody tr{
        width: 100%;
    padding: 0px;
}
#category_35 tbody tr:hover{
    background-color:transparent;
}
#category_35 tbody tr td{
     width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
     padding: 10px;
}
#category_35 tbody tr td:hover{
     background-color: #edf8ff;
}

#category_35 tbody tr td dd{
    display: none;
}

.wp.vw50_kfc_f {
    display: none;
}

div#jz52top {
    display: none;
}
div#flk {
    display: none;
}

div#online {
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bm_h {
    background: none;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ddd;
}
#category_lk{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.bm_h strong,.bm_h span{
        font-weight: normal;
}

.boxbg_7ree {
    background: none!important;
}
